.jadwal {
    text-align: center;
    padding: 150px;
    background: white;
    border-radius: 15px

}

body {
    font-family: Arial, sans-serif;
    background: beige;
    padding: 50px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
}

.sesi{
    background-color: purple;
}