.jadwal {
    text-align: center;
    background: white;
    border-radius: 15px;
    font-size: 30px;
    padding: 20px; /* Sesuaikan padding agar tidak membuat ukuran melebihi batas */
    min-width: 600px;  /* Menetapkan lebar minimal 600px */
    min-height: 600px; /* Menetapkan tinggi minimal 600px */
    margin: 0 auto;  /* Memusatkan elemen secara horizontal */
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#56ab2f, #a8e063);
    margin: 0; /* Menghapus margin default */
    display: flex;  /* Menggunakan Flexbox */
    justify-content: center;  /* Memusatkan konten secara horizontal */
    align-items: center;  /* Memusatkan konten secara vertikal */
    height: 100vh;  /* Memastikan body mengisi seluruh tinggi viewport */
}


.sesi {
    background: bisque;
    padding: 10px;
}

.matkul:hover {
    background-color: yellow;
}

.SesiBG:hover {
    background-color: blue;
}


td, th {
    padding: 15px;
    text-align: center;
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.horizontal-list {
    text-align: center;
    list-style-type: none; 
    display: flex;      
    justify-content: center;  
}

.horizontal-list li {
    margin-right: 30px;  /* Mengurangi margin untuk elemen daftar */
}

