body{
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#56ab2f, #a8e063);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.profil {
    text-align: center;
    background: white;
    border-radius: 15px;
    min-width: 500px;
    min-height: 500px;
}

.poto {
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
}

.instagram_button {
    display: inline-block;
    padding: 10px 60px;
    color: white;
    background: rgb(209, 38, 209);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.instagram_button:hover {
    background-color: rgb(119, 119, 170);
}

.link {
    display: flex;
}

.linkRapih {
    flex: 1;
    text-align: center;
}




