body{
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#56ab2f, #a8e063);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.profil {
    text-align: center;
    background: white;
    border-radius: 15px;
    min-width: 400px;
    min-height: 500px;
}

.poto {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
}

.tombol {
    display: inline-block;
    padding: 8px 100px;
    color: white;
    background: rgb(0, 123, 255);
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    margin-bottom: 20px;
}

.tombol:hover {
    background-color:red;
}

.link {
    display: flex;
}

.linkRapih {
    flex: 1;
    text-align: center;
}
