body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #2193b0, #6dd5ed); /* Gradasi warna untuk background */
    display: flex;
    justify-content: center;
    align-items: center;
}
.karya {
    text-align: center;
    padding: 50px;
    background: white;
    border-radius: 15px
}


.profile-pic {
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
}

.instagram-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: purple;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.instagram-button:hover {
    background-color: darkblue;
}



.horizontal-list {
    text-align: center;
    list-style-type: none; 
    display: flex;      
    justify-content: center;  
}

.horizontal-list li {
    margin-right: 180px;  
}


.jadwal {
    text-align: center;
    background: white;
    border-radius: 15px;
    font-size: 30px;
    padding: 100px;
    margin: 0 auto;
}


.sesi{
    background-color: bisque;
}

td, th{
    pad: 15px;
    text-align: center;
    border: 1px solid;
}

table{
    width: 100%;
    border-collapse: collapse;
}
